*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      to right,
      white 0%,
      white 50%,
      #359D9E 50%,
      #359D9E 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10px;
    background-color: white;
}

header .logo
{
    position: relative;
    max-width: 170px;
}

header .button
{
    position: relative;
    max-width: 170px;
    margin-left: 50px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a:hover {
    color: #34495E;
}

header ul li a
{
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 60px;
    text-decoration: none;
}

.content .kata{
    width: 90%;
    padding-left: 110px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.content .tangan{
    padding-left: 283px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content .iphone{
    padding-left: 90px;
  }

  .content .android{
    padding-left: 10px;
  }





